<footer class="layout-footer">
                <div class="layout-scaffold">
                    <div class="layout-pagePad">
  <div class="container">
                        
                        <div>
                            &copy; <%= new Date().getFullYear() %> Harry and Hermione. All Rights Reserved. <br>
                            Melbourne, Australia - <a href="https://playdead.com/privacypolicy/index.php">Privacy Policy</a>
                        </div>
                    </div>
                </div>
              </div>
            </footer>

<!-- Bootstrap  -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>


 <script src="/public/lightbox/js/lightbox-plus-jquery.js"></script>
