

<section class="about mt-5 text-white pb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ">
        <img src="/public/images/backgrounds/about-page/about.jpg" class="img-fluid w-100" />
      </div>
      
      <div class="col-md-6 ">
        <h2>About Harry and Hermione</h2><hr />
          <div class="body-text">
            <p>
              <u>Harry and Hermione</u> is a non-for-profit, fan-created website.
            </p>

            <p>
              <u>The original objective</u>: To create a website which replaces the void Portkey.org
              left behind as a website for fanfiction and forum for discussion based solely on the Harry/Hermione pairing.
            </p>

            <p>
              <a href="/fanfiction">Fanfiction</a>: Was to be a place where authors could post their HHR stories.
              The stories would be sorted by readers using a search function similar to what porkey and the archive have
              (by genres, pairings, rating, and length, options such as including "favorites" are also a possibility).
            </p>

            <p>
              <a href="/fanart">Fanart</a>: A section called the “Gallery” would be dedicated to posting fan art and where artists can receive comments for their work
            </p>
          </div>
        </div>
        </div>
        <br>

        <div class="row">
          <div class="col-md-12 ">
            <div class="body-text">
              <p>
                Forum: As the spiritual successor of the portkey website, we would also try to emulate the forum and its subsections within our own forum.
                The forum is designed for a variety of discussion that can be had under different topics: a general welcome section with FAQ, announcements,
                and introduction, a shipping subsection where users could focus on discussions centered around the main Harry/Hermione and any minor ships such
                as Lily/James and discuss canon/headcanons etc, a subsection dedicated to fanfiction whether it be finding specific fanficton, recommendations,
                discussing your favorites, or writing your own and discussing with other readers/writers, a subsection dedicated to general talk regarding the
                Harry Potter fandom that does not relate to the Harry/Hermione pairing, and a subsection for offtopic conversation where users can discuss personal
                or miscellaneous subjects.
              </p>

              <p>
                Unforunately, due to unforseen technical difficulties and lack of knowhow, not everything has worked. The site is what it is, it has it's own identity now.
                Hopefully, even if one person finds joy from it, or looks at it through rose-coloured glasses, it will have been all worth it.
              </p>

              <p>
                Additionally, once you have had a look around, and if by chance you like what you see, or if you have some suggestions as to what could be done better,
                feel free to leave a comment here: <a href="/feedback#feedback"><u>Feedback</u></a>.
              </p>
            </div><hr/>
          </div>
        </div>
  </div>
</section>