<section class="credits " id="credits">

  
      
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-md-5 mx-auto my-auto mt-5 ">

        </div> 
        <div class="col-sm-1"></div>
        <div class="col-lg-5">
        </div>
    </div>


    <div class='wrapper'>

  <div class='movie'>
    <h3>Credits</h3>
  </div>
  <p>In Order of Appearance</p><br>


  <div class='job'>
    Front Page Artwork<br>
    </div>
  <div class='name'>

  <a href="https://www.instagram.com/fi_masak/">Fi Masak</a><br>
  hastyhand<br>

  <a href="https://www.instagram.com/arishatistic/">Arishatistic</a><br>

  <a href="https://www.instagram.com/mami_sketches/">Lovely Rugbee</a><br>

  <a href="https://www.instagram.com/upthehillart/">Upthehill</a><br>
  <a href="https://www.instagram.com/demaparbatxhp/">DemaParabet</a><br>
  <a href="https://www.instagram.com/upthehillart/">Upthehill</a><br>
  <a href="https://www.instagram.com/fi_masak/">Fi Masak</a><br>
  <a href="https://www.instagram.com/arishatistic/">Arishatistic</a><br>
  <a href="https://www.instagram.com/arishatistic/">Arishatistic</a><br>
  <a href="https://www.instagram.com/upthehillart/">Upthehill</a><br>

  </div>


  <div class='job'>Front Page Unsplash<br>
  <span class="small">Hand Picked Tales</span></div>
  <div class='name'><a href="https://unsplash.com/@jamoimages">Jamo Images</a></div>
  <div class='name'><a href="https://unsplash.com/@wolfgang_hasselmann">Wolfgang Hasselmann</a></div>
  <div class='name'><a href="https://unsplash.com/@ariv">Ariv Kurniawan</a></div>
  <div class='name'><a href="https://unsplash.com/@krivitskiy">Alexander Krivitskiy</a></div>
  <div class='name'><a href="https://unsplash.com/@pjedidiah">Peter Jedidiah Banton</a></div>
  <div class='name'><a href="https://unsplash.com/@grearis">Grecia Cristina Campero Arizpe</a></div>
  <div class='name'><a href="https://unsplash.com/@pjedidiah">Peter Jedidiah Banton</a></div>


  <div class='job'>Background Unsplash<br>
  <span class="small">Hand Picked Tales</span></div>
  <div class='name'><a href="https://unsplash.com/@jamoimages">Jamo Images</a></div>
  <div class='name'><a href="https://unsplash.com/@wolfgang_hasselmann">Wolfgang Hasselmann</a></div>
  <div class='name'><a href="https://unsplash.com/@ariv">Ariv Kurniawan</a></div>
  <div class='name'><a href="https://unsplash.com/@krivitskiy">Alexander Krivitskiy</a></div>
  <div class='name'><a href="https://unsplash.com/@pjedidiah">Peter Jedidiah Banton</a></div>
  <div class='name'><a href="https://unsplash.com/@grearis">Grecia Cristina Campero Arizpe</a></div>
  <div class='name'><a href="https://unsplash.com/@pjedidiah">Peter Jedidiah Banton</a></div>

  <div class='job'>About Page </div>
  <div class='name'>hastyhand</div>

  <div class='job'>Blog </div>
  <div class='name'><a href="https://www.instagram.com/upthehillart/">Upthehill</a></div>

  <div class='job'>Social </div>
  <div class='name'><a href="https://www.instagram.com/demaparbatxhp/">DemaParabet</a></div>

  <div class='job'>Fanfiction </div>
  <div class='name'><a href="https://www.instagram.com/upthehillart/">Upthehill</a></div>

  <div class='job'>Quotes </div>
  <div class='name'><a href="https://www.instagram.com/arishatistic/">Arishatistic</a></div>

  <div class='job'>Fanart </div>
  <div class='name'><a href="https://www.instagram.com/fi_masak/">Fi Masak</a></div>

  <div class='job'>Credits </div>
  <div class='name'><a href="https://www.instagram.com/arishatistic/">Arishatistic</a></div>

  <div class='job'>Error Page</div>
  <div class='name'><a href="https://www.instagram.com/upthehillart/">Upthehill</a></div>



  <div class='job'>Website Created By</div>
  <div class='name'>IckleRonnikens</div>

   <img src="/images/backgrounds/credits-page/end.jpg" class="w-100 img-fluid" />

</div>







  </section>