/* CREDITS */

.credits {
  margin: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #1e1e1e;
  position: fixed;
}

.credits .wrapper {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 450px;
  margin-left: -200px;
  font-family: "Libre Caslon Text", serif;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  overflow: hidden;
  animation: 60s credits linear infinite;
  -webkit-animation: 60s credits linear infinite;
    &:hover {    animation-play-state: paused;}
}

.credits .movie {
  margin-bottom: 50px;
  font-size: 50px;
  overflow: hidden;

}

.credits .job {
  margin-bottom: 5px;
  font-size: 18px;
  overflow: hidden;

}

.credits .name {
  margin-bottom: 50px;
  font-size: 35px;
  overflow: hidden;
}

.credits .name a {text-decoration: none; color: #fff;}

@keyframes credits {
  0% {
    top: 100%;
  }
  100% {
    top: -500%;
  }
}