:root {
    --dark-color-h: 334.29;
    --dark-color-s: 32.03%;
    --dark-color-l: 30%;
    --light-color-h: 19.2;
    --light-color-s: 30.86%;
    --light-color-l: 84.12%;
    --dark-color: hsl(var(--dark-color-h), var(--dark-color-s), var(--dark-color-l));
    --light-color: hsl(var(--light-color-h), var(--light-color-s), var(--light-color-l));
    --bg-color: var(--dark-color);
    --text-color: var(--light-color);
    --resources-bg-color: hsla(var(--dark-color-h), var(--dark-color-s), calc(var(--dark-color-l) - 10%), 0.75);
    --resources-active-color: color-mix(in srgb, var(--light-color) 75%, transparent);
    --resources-color: var(--text-color);
}

*,
::after,
::before {
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html.no-scroll {
    background: hsl(var(--dark-color-h), var(--dark-color-s), calc(var(--dark-color-l) - 10%));
    scrollbar-gutter: stable;
}

html.no-scroll body {
    height: 100%;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    margin: 0;
    max-width: 100%;
    width: 100%;
}

.wrapper {
    display: block;
    margin: 3rem auto;
    max-width: 75rem;
    position: relative;
    width: calc(100% - 2rem);
}

simple-masonry {
    --column-count: 5;
    --grid-gap-horizontal: 1.5rem;
    --grid-gap-vertical: 1.5rem;
    counter-reset: masonry-counter;
    display: grid;
    position: relative;
    width: 100%;
}

simple-masonry+simple-masonry {
    margin-top: calc(var(--grid-gap-vertical) * 4);
}

.grid-item {
    background-color: hsla(var(--dark-color-h), var(--dark-color-s), calc(var(--dark-color-l) - 10%), .75);
    counter-increment: masonry-counter;
    grid-area: 1/-1;
    overflow: hidden;
    position: relative;
}

.grid-item a {
    cursor: pointer;
}

.grid-item::after {
    align-items: center;
    background-color: hsla(var(--dark-color-h), var(--dark-color-s), calc(var(--dark-color-l) - 10%), .75);
    border-radius: .125rem;
    bottom: .25rem;
    color: var(--text-color);
    content: counter(masonry-counter);
    display: flex;
    font-size: .625rem;
    height: 1.5rem;
    justify-content: center;
    line-height: 1.5rem;
    position: absolute;
    right: .25rem;
    text-align: center;
    width: 1.5rem;
}

img {
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    color: transparent;
    display: block;
    font: 0/0 a;
    height: 100%;
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    outline: none;
    padding: 0;
    position: relative;
    text-shadow: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    vertical-align: middle;
    width: 100%;
}

.lg-backdrop {
    background-color: hsl(var(--dark-color-h), var(--dark-color-s), calc(var(--dark-color-l) - 10%));
}

.resources-layer {
    bottom: 0;
    display: block;
    position: fixed;
    right: 0;
    z-index: 1000;
}

.resources {
    background: var(--resources-bg-color);
    display: grid;
    font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial, sans-serif;
    font-size: .6875rem;
    font-weight: 300;
    grid-auto-flow: column;
    line-height: 1.3;
    padding: .5rem;
    pointer-events: auto;
}

.resources a {
    align-content: center;
    display: grid;
    justify-content: center;
    padding: 0 .5rem;
    place-content: center;
    transition: color .2s ease-in-out;
}

.resources a,
.resources a:visited {
    color: var(--resources-color);
}

.resources a:active,
.resources a:focus-visible {
    color: var(--resources-active-color);
}

.resources a:focus-visible {
    outline: none;
}

.resources a:not(:first-child) {
    border-inline-start: thin solid currentColor;
}

@media (max-width:75.04875em) {
    simple-masonry {
        --column-count: 4;
        --grid-gap-horizontal: 1.25rem;
        --grid-gap-vertical: 1.25rem;
    }
}

@media (max-width:51.29875em) {
    simple-masonry {
        --column-count: 3;
        --grid-gap-horizontal: 1rem;
        --grid-gap-vertical: 1rem;
    }
}

@media (max-width:36.04875em) {
    simple-masonry {
        --column-count: 2;
        --grid-gap-horizontal: 0.75rem;
        --grid-gap-vertical: 0.75rem;
    }
}

@media (hover:hover) and (pointer:fine) {

    .resources a:active:not(:hover),
    .resources a:hover {
        color: var(--resources-active-color);
    }
}