* {
  animation: fadein 1s;
  -moz-animation: fadein 1s; 
  -webkit-animation: fadein 1s; 
  -o-animation: fadein 1s; 
}
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:2;
  }
}
@-moz-keyframes fadein { 
  from {
      opacity:0;
  }
  to {
      opacity:2;
  }
}
@-webkit-keyframes fadein { 
  from {
      opacity:0;
  }
  to {
      opacity:2;
  }
}
@-o-keyframes fadein { 
  from {
      opacity:0;
  }
  to {
      opacity: 2;
  }
}


body {
    background-color: #1e1e1e;
    font-family: "Oswald", sans-serif;
    font-size: 120%;
    padding-top: 0px;
    margin-top: 0px;
}

.container {
    width: 1000px!important;
}

img {
     width: 100%;
     height: auto;
}

h1, h2, h3, h4 {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: #fff;
}



/* NAVIGATIONAL MENU */

nav {
    background-color: #000;
}

nav ul li a {
    color: #515352!important;
    text-transform: uppercase;
}

nav ul li a:hover {color: #fff!important;}

.nav-item .dropdown {
    background-color: none!important;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.dropdown-menu{
  background-color: #000;
  border: transparent;
  border: none;
}
.dropdown-menu .dropdown-item > li > a:hover {
  background-image: none;
  
  background-color: #000!important;
}

.dropdown-content a:hover {
    background-color: transparent;
}

.navbar-toggler-icon { color: #515352!important; }


/* HERO SECTION */

.hero {
    height: 100vh;
    width: auto;
    padding: 20px;
    display:flex;
    align-items:center;
}


.hero p {color: #fff;}
.video {width: 100%;}

.about {
    height: 100vh;
    width: auto;
    padding: 20px;
    display:flex;
    align-items:center;
    }

.blog-post ul li {list-style-type: none;}
.blog-post p {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 300;
    padding-top: 15px;

}

.post .post-title {
    max-width: 677px;
    font-size: 40px;
    line-height: 40px;
    margin-top: 2px;
}
.post-hero {
    max-width: 100%;
    object-fit: cover;
    width: 100%;
    max-height: 418px;
}
.post h1, .post h2, .post h3, .post p, .post li {
    padding-top: 15px;
}

.post p {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    line-height: 23px;
    font-weight: 300;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    padding-top: 15px;
}

.comments {
    height: 100vh auto;
    padding: 1em;
    margin: 1em;
    line-height: 1em;
}

.layout-footer {
    color: #787878;
    height: 100px;
    background-color: #000;
    padding: 24px 0;
    
}