* {
  animation: fadein 1s;
  -moz-animation: fadein 1s; 
  -webkit-animation: fadein 1s; 
  -o-animation: fadein 1s; 
}
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:2;
  }
}
@-moz-keyframes fadein { 
  from {
      opacity:0;
  }
  to {
      opacity:2;
  }
}
@-webkit-keyframes fadein { 
  from {
      opacity:0;
  }
  to {
      opacity:2;
  }
}
@-o-keyframes fadein { 
  from {
      opacity:0;
  }
  to {
      opacity: 2;
  }
}


body {
    background-color: #1e1e1e;
    font-family: "Oswald", sans-serif;
    font-size: 120%;
    padding-top: 0px;
    margin-top: 0px;
}

.container {
    width: 1000px!important;
}

img {
     width: 100%;
     height: auto;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
}

/* NAVIGATIONAL MENU */

nav {
    background-color: #000;
}

nav ul li a {
    color: #515352!important;
    text-transform: uppercase;
}

nav ul li a:hover {color: #fff!important;}

.nav-item .dropdown {
    background-color: none!important;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.dropdown-menu{
  background-color: #000;
  border: transparent;
  border: none;
}
.dropdown-menu .dropdown-item > li > a:hover {
  background-image: none;
  
  background-color: #000!important;
}

.dropdown-content a:hover {
    background-color: transparent;
}

.navbar-toggler-icon { color: #515352!important; }


/* HERO SECTION */

.hero {
    height: 100vh;
    width: auto;
    padding: 20px;
    display:flex;
    align-items:center;
}

.hero h1 {
    font-size: 3rem;
    color: #fff;
}

.hero p {color: #fff;}
.video {width: 100%;}

.about {
    height: 100vh;
    width: auto;
    padding: 20px;
    display:flex;
    align-items:center;
    }

.blog {
    height: 100vh;
    width: auto;
    padding: 20px;
    display:flex;
    align-items:center;
    }
.blog ul li {list-style-type: none;}


/* FANFICTION LANDING PAGE */

.fanfiction .container {
  display: flex;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 80vh;
}

.fanfiction .box {
  flex: 1;
  overflow: hidden;
  transition: 0.5s;
  margin: 0 2%;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  line-height: 0;
}

.fanfiction .box > img {
  width: 200%;
  height: calc(100% - 10vh);
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s;
}

.fanfiction .box > span {
  font-size: 3.8vh;
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 2.6;
}

.fanfiction .box:hover {
  flex: 1 1 50%;
}

.fanfiction .box:hover > img {
  width: 100%;
  height: 100%;
}