
<section>
  <h1>Artists</h1>
  <form method="get">
    <input name="q" placeholder="Search artists..." value="<%= q || '' %>" />
    <button>Search</button>
  </form>
  <ul>
    <% artists.forEach(a => { %>
      <li>
        <a href="/fanart/artists/<%= a.id %>"><%= a.name %></a>

      </li>
    <% }) %>
  </ul>
  <%- include('../partials/pagination', { total, page, limit, q }) %>
</section>
