<section class="fanart mt-5 text-white pb-5">
  <div class="container">
    <h1>Fanart</h1><hr />
      <div class="row">
        <div class="col-md-6 ">
          <img src="/public/images/backgrounds/fanart-page/artists.jpg" class="img-fluid w-100" />
        </div>
        <div class="col-md-6 ">
          <h2><a href="/fanart/artists">Artists</a></h2><hr />
          <p>
            The best <u>Harmony Writers</u> on the internet.
          </p>

          <p>
            <u>The original objective</u>: To create a website which replaces the void Portkey.org
            left behind as a website for fanart and forum for discussion based solely on the Harry/Hermione pairing.
          </p>

          <p>
            <a href="/fanart">Fanart</a>: Was to be a place where authors could post their HHR stories.
            The stories would be sorted by readers using a search function similar to what porkey and the archive have
            (by genres, pairings, rating, and length, options such as including "favorites" are also a possibility).
          </p>

            <a class="btn btn-primary rounded-0" href="/fanart/artists">View Page</a>
        </div>
      </div>
      
      <hr />

      <div class="row">
        <div class="col-md-6 ">
          <h2><a href="/fanart/sfw">Stories</a></h2><hr />
            <p>
              <u>Harry and Hermione</u> is a non-for-profit, fan-created website.
            </p>

          <p>
            <u>The original objective</u>: To create a website which replaces the void Portkey.org
            left behind as a website for fanart and forum for discussion based solely on the Harry/Hermione pairing.
          </p>

          <p>
            <a href="/fanart">Fanart</a>: Was to be a place where authors could post their HHR stories.
            The stories would be sorted by readers using a search function similar to what porkey and the archive have
            (by genres, pairings, rating, and length, options such as including "favorites" are also a possibility).
          </p>

            <a class="btn btn-primary rounded-0" href="/fanart/sfw">View Page</a>

        </div>
            <div class="col-md-6 ">
      <img src="/public/images/backgrounds/fanart-page/sfw.jpg" class="img-fluid w-100" />
    </div>
        </div>

      <hr />

      <div class="row">
        <div class="col-md-6 ">
          <img src="/public/images/backgrounds/fanart-page/nsfw.jpg" class="img-fluid w-100" />
        </div>
        <div class="col-md-6 ">
          <h2><a href="/fanart/nsfw">nsfw</a></h2><hr />
          <p>
            The best <u>Harmony Writers</u> on the internet.
          </p>

          <p>
            <u>The original objective</u>: To create a website which replaces the void Portkey.org
            left behind as a website for fanart and forum for discussion based solely on the Harry/Hermione pairing.
          </p>

          <p>
            <a href="/fanart">Fanart</a>: Was to be a place where authors could post their HHR stories.
            The stories would be sorted by readers using a search function similar to what porkey and the archive have
            (by genres, pairings, rating, and length, options such as including "favorites" are also a possibility).
          </p>

            <a class="btn btn-primary rounded-0" href="/fanart/nsfw">View Page</a>
        </div>
      </div>



       
</div>
</section>