
<section>
  <h1>Fanart</h1>
  <ul>
    <li><a href="/fanart/artists">Artists</a></li>
    <li><a href="/fanart/sfw">SFW Gallery</a></li>
    <li><a href="/fanart/nsfw">NSFW Gallery</a></li>
  </ul>
</section>
