<section class="fanfiction">

<div class="container">
  <h1>Fanfiction</h1><hr />

    <div href="/fanfiction/writers" class="box">
        <img src="/public/images/backgrounds/writers.jpg">
        <span>Writers</span>
    </div>
  <div class="box">
    <img src="/public/images/backgrounds/stories.jpg">
    <span>Storie</span>
  </div>
  <div class="box">
    <img src="/public/images/backgrounds/archives.jpg">
    <span>Archives</span>
  </div>
  <div class="box">
    <img src="/public/images/backgrounds/public-list.jpg">
    <span>Public Lists</span>
  </div>
</div>
</section>

<section>
  <ul>
    <li><a href="/fanfiction/writers">Writers</a></li>
    <li><a href="/fanfiction/stories">Stories</a></li>
    <li><a href="/fanfiction/archives">Archives</a></li>
    <li><a href="/fanfiction/public-list">Public List</a></li>
  </ul>
</section>
