
<section>
  <h1>Fanfiction</h1>
  <ul>
    <li><a href="/fanfiction/writers">Writers</a></li>
    <li><a href="/fanfiction/stories">Stories</a></li>
    <li><a href="/fanfiction/archives">Archives</a></li>
    <li><a href="/fanfiction/public-list">Public List</a></li>
  </ul>
</section>
