<section class="margin-bottom-small">
  <div class="container">

    <div class="row">
      <div class="col-lg-6">
        <img src="/public/images/backgrounds/writers.jpg" />
      </div>
      <div class="col-lg-6">
        <img src="/public/images/backgrounds/stories.jpg" />
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <img src="/public/images/backgrounds/archives.jpg" />
      </div>
      <div class="col-lg-6">
        <img src="/public/images/backgrounds/public-list.jpg" />
      </div>
    </div>

  </div>
</section>
<section>
  <h1>Fanfiction</h1>
  <ul>
    <li><a href="/fanfiction/writers">Writers</a></li>
    <li><a href="/fanfiction/stories">Stories</a></li>
    <li><a href="/fanfiction/archives">Archives</a></li>
    <li><a href="/fanfiction/public-list">Public List</a></li>
  </ul>
</section>
