<section class="quotes" id="quotes">
  <div class="d-flex h-100 align-items-center">
            <div class="container">
  
            <header class="text-center">
              <h2 class="text-uppercase lined">Quotes</h2>
            </header>
          <div class="row">
          <div class="col-lg-2">
          </div>
  
            <div class="col-lg-8">
              <p class="text-center">Handcrafted by Users @Crazy and @Indo_Carib over at the HMS Harmony discord.</p>
            </div>
  
            <div class="col-lg-2">
            </div>
          
          </div>
  
          <div class="row">
            <div class="col-lg-3 mt-4">
              <a href="/ps"><img class="w-100 image rounded " src="/public/images/quotes/ps.jpg" alt="PS"></a>
            </div>
            <div class="col-lg-3 mt-4">
              <a href="#cod"><img class="w-100 image rounded " src="/public/images/quotes/cos.jpg" alt="CoS"></a>
            </div>
            <div class="col-lg-3 mt-4">
              <a href="#poa"><img class="w-100 image rounded " src="/public/images/quotes/poa.jpg" alt="PoA"></a>
            </div>
            <div class="col-lg-3 mt-4">
              <a href="#gof"><img class="w-100 image rounded " src="/public/images/quotes/gof.jpg" alt="GoF"></a>
            </div>
          </div>


          <div class="row">
            <div class="col-lg-3 mt-4">
              <a href="#ootp"><img class="w-100 image rounded " src="/public/images/quotes/ootp.jpg" alt="OoTP"></a>
            </div>
            <div class="col-lg-3 mt-4">
              <a href="#hbp"><img class="w-100 image rounded " src="/public/images/quotes/hbp.jpg" alt="HBP"></a>
            </div>
            <div class="col-lg-3 mt-4">
              <a href="#dh"><img class="w-100 image rounded " src="/public/images/quotes/dh.jpg" alt="DH"></a>
            </div>
            <div class="col-lg-3 mt-4">
              
            </div>
          </div>

  
  
            </div>
          </div>
        </section>







<section class="container">
  <h1>Quotes</h1>
  <p class="muted">Choose a book:</p>

  <ul class="grid books">
    <% Object.entries(books).forEach(([code, title]) => { 
         const cnt = counts[title] || 0; %>
      <li class="book">
        /quotes/<%= code %><%= title %></a>
        <div class="muted small"><%= cnt.toLocaleString() %> quote<%= cnt===1?'':'s' %></div>
      </li>
    <% }) %>
  </ul>
</section>

<style>
  .grid.books { list-style:none; display:grid; gap:.75rem; grid-template-columns: repeat(auto-fit,minmax(220px,1fr)); padding:0; }
  .book { border:1px solid #e5e7eb; border-radius:.5rem; padding:.75rem; background:white; }
  .small { font-size:.9rem }
  .muted { color:#6b7280 }
</style>